# deps
node_modules
.pnp
.pnp.js

# next.js
apps/portfolio/.next/
apps/portfolio/out/

# build outputs
dist/
build/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
.turbo

# vercel
.vercel
